/* reset */
body,h1,h2,h3,h4,h5,h6,p,dl,dd,ul,ol,pre,form,input,textarea,th,td,select{margin:0;padding:0;}
em{font-style:normal}
li{list-style:none}
a{text-decoration:none; color: #000;}
img{border:none; vertical-align:top;}	 	/* 去边框对齐 */
table{border-collapse:collapse;}	 		/* 表格合并*/
textarea{ resize:none;overflow:auto;}  	    /* chrome多行文本变大变小*/
input,textarea{outline:none;}            /* 去除焦点高亮度 */
body{ font-size:12px; font-family:"微软雅黑";}
/* end reset */ 

/* pulic */
.clear{zoom:1;}
.clear:after{content: "";display: block;clear: both; }  /* 请浮动 */   
.fl{float: left;}
.fr{float: right;}
/* end public */